.container {
  position: relative;
  text-align: center;
  color: black;
}




.top-left {
  position: absolute;
  top: 200px;
  left: 40px;
}

h1 {
  font-weight: bold;
  font-size: 45px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: left;
}

a{
  text-decoration: none;
  color: #F08080;

}
li span {
  position: relative;
  /*left: -30px;*/
}
li{
  position: relative;
  text-align: left;
  /*left: 60px;*/
}
body {
  background-image: url('im.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: absolute;
  width: 100%;

}

.topDiv{

  width: 100%;
  height: 120px;
  text-align: center;
  margin-top: 20px;
  border-bottom: solid gray 1px;
}

.child_left{
  display: inline-block;
  vertical-align: middle;
  margin-right: 7%;
  margin-left: 1%;
  text-align: left;
}

.child_right{
  display: inline-block;
  vertical-align: middle;
  margin-left: 6%;
  text-align: left;
}

.imgDiv{
  float: left;
  width: 30%;
  display: inline-block;
  text-align: right;
  height: 90%;
}

.container{
  height: 100%;
  display: inline-block;
  background-size: cover;
  width: 50%;
  text-align: left;
}
img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.table{
  border: 0px solid #DDEEEE;
  border-collapse: collapse;
  padding: 5px;
  margin-top: 30px;
  width: 100%;
  height: 70%;
  text-align: center;
  line-height: 2;
}

.table td{
    width: 240px;
}

.table li{
    left: 50px;
}
.table tbody tr:first-child th:first-child {
    border-radius: 52px 0 0 0;
}

.table  tbody tr:first-child th:last-child{
    border-radius: 0 52px 0 0;
}

.table tbody tr:last-child td:last-child {
    border-radius: 0 0 52px 0;
}

.table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 52px;
}

tr:nth-child(odd) {
    background: #b8d1f3;
}
tr:nth-child(even){
		background: #FAF0E6;

}
caption {
	font: 2rem television;
    padding: 10px;
    caption-side: top;
	font-weight: bold;
	text-align: center;

}
.assign_div{
  height: 200px;
  margin: auto;
}

.hobbies_div{
  margin: auto;
  margin-top: 60px;
}

.tb{

      position: relative;
      float: left;
}
.mid_div{
  width: 480px;
  /*float:right;*/
  /*margin-right: 650px;*/
  display: inline-block;
}
.first_div{
  float: left;
  display: inline-block;
  width: 20%;
  margin-left: 50px;
  margin-top: 100px;
}
.first_div table{
  width: 100%;
}
.third_div{
  float: right;
  display: inline-block;
  width: 15%;
  margin-right: 50px;
  margin-top: 100px;
}
.third_div table{
  width: 100%;
}

.quote{
  background-color: #f7e2d7;
  border-radius: 10%;
  width: 100%;
  height: 100px;
  margin-top: 80px;
}
.quote p{
    padding: 10px;
    word-wrap: break-word;
}
